*{
  margin: 0%;
  padding: 0%;
}

nav{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  background-color: cadetblue;
  padding: 30px;
  font-size: 22px;
  font-weight: 500;
  color: #ffff;
}

#link{
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
}
#link:hover{
  color: aliceblue;
}

h2{
  margin: 30px;
  display: inline-block;
}

button{
  padding: 10px 20px;
  font-size: 21px;
  font-weight: 500;
  color: #ffff;
  background-color: cadetblue;
  cursor: pointer;
  border-radius: 15px;
  margin:  20px 20px;
}

button:hover{
  padding: 12px 22px;
  font-size: 22px;
}

#picsBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#image{
  width: 333px;
  display: inline-block;
  margin: 20px;
}

h1{
  text-align: center;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  text-align: center;
  margin-left: 20px;
  height: 25px;
}

#userBox{
  margin: 50px;
}

ol{
 display: flex;
 align-items: center;
 /* justify-content: center; */
 flex-wrap: wrap;
}

li{
  padding: 20px;
  width: 300px;
  border-bottom: 2px solid black;
}

span{
  display: block;
}

.users{
  margin: 25px;
  font-size: 20px;
}

h4{
  cursor: pointer;
  border: 1px solid snow;
}